* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cursor1 {
  position: fixed;
  width: 26px;
  height: 26px;
  border: .5px solid #00FFB2;
  border-radius: 50%;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: .1s;
  z-index: 10000;
}

.cursor2 {
  z-index: 10000;
  position: fixed;
  width: 8px;
  height: 8px;
  background-color: #00FFB2;
  border-radius: 50%;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: .15s;
  transform: translate(-50%, -50%);
}



